<!DOCTYPE html>
<html lang="en" ng-app>
<head>
<meta charset="UTF-8">
<title>hola mundo en Angular</title>
</head>
<body>
<input type="text" ng-model="numero1">
<input type="text" ng-model="numero2">
<br />
{{ numero1 * numero2 }}
<br />
<select ng-model="camposelect">
<option value="uno">1</option>
<option value="dos">2</option>
</select>
<input type="button" ng-click="campotexto='DesarrolloWeb.com'" value="Pulsa aquí">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.24/angular.min.js"></script>
</body>
</html>