{{extend 'layout.html'}}

<link rel="stylesheet" href="{{=URL('static','css/themes/blue/style.css')}}" type="text/css" media="print, projection, screen" />
<script>
$(document).ready(function()
    {
        $("#myTable").tablesorter();
    }
);
</script>



<h1>Citas</h1>
    <table id="myTable" class="tablesorter">
    <thead>
    <tr>
    <th>N° Ticket</th>
    <th>Cliente</th>
        <th>Referencia</th>
    <th>Marca gg</th>
    <th>Contacto Visita</th>
    <th>Tipo Visita</th>
    <th>Estado Visita</th>
    </tr>
    </thead>
    <tbody>
{{
for elem in data:
=elem
pass
}}

    </tbody>
    </table>