{{extend 'layout.html'}}

<link rel="stylesheet" href="{{=URL('static','css/themes/blue/style.css')}}" type="text/css" media="print, projection, screen" />
<script>
$(document).ready(function()
    {
        $("#myTable").tablesorter();
    }
);
</script>



<h1>Cobranzas Vencidas</h1>
    <table id="myTable" class="tablesorter">
    <thead>
    <tr>
        <th>Número de Ticket</th>
        <th>Número de Comprobante</th>
        <th>Cliente</th>
        <th>Referencia</th>
        <!--<th>Razon Social gg</th>-->
        <th>Marca gg</th>
        <th>Contacto Cobranzas</th>
        <th>Monto Saldo por cobrar</th>
        <th>Fecha de cobranza</th>

    </tr>
    </thead>
    <tbody>
{{
for elem in data:
=elem
pass
}}

    </tbody>
    </table>