{{extend 'layout.html'}}

<link rel="stylesheet" href="{{=URL('static','css/themes/blue/style.css')}}" type="text/css" media="print, projection, screen" />
<script>
$(document).ready(function()
    {
        $("#myTable").tablesorter();
    }
);
</script>



<h1>Cobranzas a Tiempo</h1>
    <table id="myTable" class="tablesorter">
    <thead>
    <tr>
        <th>Numero Ticket</th>
        <th>Numero Comprobante</th>
        <th>Cliente</th>
        <th>Referencia</th>
        <!--<th>Razon Social GG</th>-->
        <th>Marca gg</th>
        <th>Contacto Cobranzas</th>
        <th>Monto Saldo por Cobrar</th>
        <th>Fecha Cobranza</th>
    </tr>
    </thead>
    <tbody>
{{
for elem in data:
=elem
pass
}}

    </tbody>
    </table>