{{extend 'layout.html'}}

<link rel="stylesheet" href="{{=URL('static','css/themes/blue/style.css')}}" type="text/css" media="print, projection, screen" />
<script>
$(document).ready(function()
    {
        $("#myTable").tablesorter();
    }
);
</script>



<h1>COBRANZAS A TIEMPO</h1>
    <table id="myTable" class="tablesorter">
    <thead>
    <tr>
    <th>Número de Proyecto</th>
    <th>Cliente</th>
    <th>Npumero de Cotización</th>
        <th>Fecha de Vencimiento</th>
        <th>Saldo por Cobrar</th>
        <th>Estado Cobranza</th>
        <th>Estado Vencimiento</th>
    </tr>
    </thead>
    <tbody>
{{
for elem in data:
=elem
pass
}}

    </tbody>
    </table>