{{extend 'layout.html'}}

<link rel="stylesheet" href="{{=URL('static','css/themes/blue/style.css')}}" type="text/css" media="print, projection, screen" />
<script>
$(document).ready(function()
    {
        $("#myTable").tablesorter();
    }
);
</script>



<h1>Cuentas Por Pagar a Tiempo</h1>
    <table id="myTable" class="tablesorter">
    <thead>
    <tr>
        <th>Numero Ticket Gasto</th>
        <th>Marca gg</th>
        <th>Razon Social gg</th>
        <th>Monto Detraccion</th>
        <th>Monto Saldo por Pagar</th>
        <th>Fecha de Pago</th>
    </tr>
    </thead>
    <tbody>
{{
for elem in data:
=elem
pass
}}

    </tbody>
    </table>