{{extend 'layout.html'}}

<link rel="stylesheet" href="{{=URL('static','css/themes/blue/style.css')}}" type="text/css" media="print, projection, screen" />
<script>
$(document).ready(function()
    {
        $("#myTable").tablesorter();
    }
);
</script>



<h1>Inversiones</h1>
{{=form}}

{{if len(data) > 0:}}
    <table id="myTable" class="tablesorter">
    <thead>
    <tr>
    <th>Marca</th>
    <th>Total Venta</th>
    </tr>
    </thead>
    <tbody>
{{
for elem in data:
=elem
pass
}}

    </tbody>
    </table>
{{pass}}