{{extend 'layout.html'}}

<link rel="stylesheet" href="{{=URL('static','css/themes/blue/style.css')}}" type="text/css" media="print, projection, screen" />
<script>
$(document).ready(function()
    {
        $("#myTable").tablesorter();
    }
);
</script>
<h1>Negociación</h1>
    <table id="myTable" class="tablesorter">
    <thead>
    <tr>
    <th>N° Ticket</th>
    <th>N° Cotizacion</th>
    <th>Cliente</th>
        <th>Referencia</th>
    <th>Marca gg</th>
        <th>Prioridad Negociacion</th>
        <th>Descuento</th>
            <th>Sub total venta</th>
        <th>Tiempo Decisión</th>
            <th>Intereses</th>
    <th>Fecha ultima conversacion</th>


    </tr>
    </thead>
    <tbody>
{{
for elem in data:
=elem
pass
}}

    </tbody>
    </table>