{{extend 'layout.html'}}

<link rel="stylesheet" href="{{=URL('static','css/themes/blue/style.css')}}" type="text/css" media="print, projection, screen" />
<script>
$(document).ready(function()
    {
        $("#myTable").tablesorter();
    }
);
</script>



<h1>Operaciones</h1>
    <table id="myTable" class="tablesorter">
    <thead>
    <tr>
    <th>N° Ticket</th>
    <th>N° Proyecto</th>
    <th>Cliente</th>
        <th>Referencia</th>
    <th>Marca gg</th>
    <th>Servicio Producto Cotizacion</th>
        <th>Contacto Proyecto</th>
        <th>Personal Proyecto</th>
        <th>Porcentaje Avance Proyecto</th>
        <!--
    <th>Fecha de Inicio</th>
    <th>Personal Proyecto</th>-->
    <th>Estado Operacion</th>
    </tr>
    </thead>
    <tbody>
{{
for elem in data:
=elem
pass
}}

    </tbody>
    </table>