{{extend 'layout.html'}}

<link rel="stylesheet" href="{{=URL('static','css/themes/blue/style.css')}}" type="text/css" media="print, projection, screen" />
<script>
$(document).ready(function()
    {
        $("#myTable").tablesorter();
    }
);
</script>



<h1>Personal Operaciones</h1>
    <table id="myTable" class="tablesorter">
    <thead>
    <tr>
    <th>Personal</th>
    <th>Telefono Celular</th>
    <th>Estado Contrato</th>
    </tr>
    </thead>
    <tbody>
{{
for elem in data:
=elem
pass
}}

    </tbody>
    </table>