{{extend 'layout.html'}}

<link rel="stylesheet" href="{{=URL('static','css/themes/blue/style.css')}}" type="text/css" media="print, projection, screen" />
<script>
$(document).ready(function()
    {
        $("#myTable").tablesorter();
    }
);
</script>



<h1>Presupuesto</h1>
    <table id="myTable" class="tablesorter">
    <thead>
    <tr>
        <th>No. Ticket</th>
    <th>N° Cotizacion</th>
    <th>Cliente</th>
        <th>Referencia</th>
    <th>Marca gg</th>
    <th>Contacto Cotización</th>
    <th>Servicio/Producto</th>
        <th>Fecha Registro Cotizacion</th>
    <th>Estado Presupuesto</th>
    <th>Prioridades</th>
    </tr>
    </thead>
    <tbody>
{{
for elem in data:
=elem
pass
}}

    </tbody>
    </table>