{{extend 'layout.html'}}

<link rel="stylesheet" href="{{=URL('static','css/themes/blue/style.css')}}" type="text/css" media="print, projection, screen" />
<script>
$(document).ready(function()
    {
        $("#myTable").tablesorter();
    }
);
</script>



<h1>Remuneraciones</h1>
{{=form}}

{{if data > 0:}}
    <table id="myTable" class="tablesorter">
    <thead>
    <tr>
    <th>Monto</th>
    </tr>
    </thead>
    <tbody>
<tr><td>
{{=data}}
</td></tr>

    </tbody>
    </table>
{{pass}}