{{extend 'layout.html'}}

<link rel="stylesheet" href="{{=URL('static','css/themes/blue/style.css')}}" type="text/css" media="print, projection, screen" />
<script>
$(document).ready(function()
    {
        $("#myTable").tablesorter();
    }
);
</script>



<h1>Saldos Cuentas</h1>
{{=form}}


    <table id="myTable" class="tablesorter">
    <thead>
    <tr>
        <th>Ingresos</th>
        <th>Egresos</th>
    <th>Saldo</th>
    </tr>
    </thead>
    <tbody>
<tr>
    <td>{{=ingresos}}</td>
    <td>{{=egresos}}</td>
    <td>{{=ingresos-egresos}}</td>
</tr>

    </tbody>
    </table>
