{{extend 'layout_grid.html'}}

<br><br><br>

<div class="container">
    <div class="row demo-row">
        <div class="col-xs-2">
            <a id="guardar" class="btn btn-block btn-lg btn-success">Guardar</a>
        </div>
        <div class="col-xs-6">
            <div class="form-group has-inactive">
                <input type="text" value="" placeholder="{{=data_vars['main']['label']}}" id="name_terms" class="form-control" />
                <input id="_name_terms_aux" name="term" type="hidden" value="" />
                <input id="_alt_terms_aux" name="term" type="hidden" value="" />
            </div>
        </div>
        <div class="col-xs-2">
            <a id="buscar" class="btn btn-block btn-lg btn-success">Buscar</a>
        </div>
        <div class="col-xs-2">
            <a id="ver_tabla" class="btn btn-block btn-lg btn-success">Ver Tabla</a>
        </div>
    </div> <!-- /row -->
    <div class="main_view">


        <div class="row">
        {{=select_block('Marca GG', 'marca', 'marcas', 2, 3)}}
        </div>
        <div class="row">
        {{=html_block('Ubicacion', 'ubicacion', 2, 3)}}

        </div>
        <div class="row">
        {{=select_block('Tipo de Producto', 'tipo_producto','tipos_productos', 2, 3)}}

        </div>
        <div class="row">
        {{=select_block('Unidad de medida', 'unidad_medida', 'unidades_medidas', 2, 3)}}

        </div>
        <div class="row">
        {{=html_block('Precio referencial', 'precio_referencial', 2, 3)}}

        </div>
        <div class="row">
        {{=html_block('Stock', 'stock', 2, 3)}}

        </div>
    </div>

    <br>

    <div class="row demo-row">
        <div class="col-xs-4">
        </div>
        <div class="col-xs-4">
        </div>
        <div class="col-xs-2">
            <a id="reporte" class="btn btn-block btn-lg btn-success" href="{{=URL()}}">Reporte</a>
        </div>
        <div class="col-xs-2">
            <a id="limpiar" class="btn btn-block btn-lg btn-success" href="{{=URL()}}">Limpiar</a>
        </div>
    </div> <!-- /row -->
</div>
{{include 'datagrid_model.html'}}
