{{extend 'layout_grid.html'}}

<br><br><br>

<div class="container">
    <div class="row demo-row">
        <div class="col-xs-2">
            <a id="guardar" class="btn btn-block btn-lg btn-success">Guardar</a>
        </div>
        <div class="col-xs-6">
            <div class="form-group has-inactive">
                <input type="text" value="" placeholder="{{=data_vars['main']['label']}}" id="name_terms" class="form-control" />
                <input id="_name_terms_aux" name="term" type="hidden" value="" />
                <input id="_alt_terms_aux" name="term" type="hidden" value="" />
            </div>
        </div>
        <div class="col-xs-2">
            <a id="buscar" class="btn btn-block btn-lg btn-success">Buscar</a>
        </div>
        <div class="col-xs-2">
            <a id="ver_tabla" class="btn btn-block btn-lg btn-success">Ver Tabla</a>
        </div>
    </div> <!-- /row -->
    <div class="main_view">
        <div class="row">
            {{=date_block('Fecha Registro', 'fecha_registro',1, 3)}}
        </div>
        <div class="row">
            {{=html_block('R.social/ N.completo', 'razon_social_nombre_completo', 1, 3)}}
            {{=select_block('Tipo Cliente', 'tipo_cliente', 'tipos_clientes', 1, 3)}}
            {{=date_block('Fecha Registro', 'creacion', 1, 3)}}
        </div>

        <div class="row">
            {{=html_block('RUC/DNI/CE', 'ruc_dni_CE',1, 3)}}
            {{=date_block('Fecha Aniversario', 'fecha_aniversario',1, 3)}}
            {{=select_block('Medio Captacion', 'medio_captacion', 'medios_captacion', 1, 3)}}
        </div>

        <div class="row">
            {{=html_block('Direccion Fiscal Cliente', 'direccion_fiscal_cliente', 1, 3)}}
            {{=select_block('Area de Negocio', 'area_negocio', 'areas_negocios', 1, 3)}}
            {{=html_block('Telefono Cliente', 'telefono_contacto', 1, 3)}}
        </div>

        <div class="row">
            <!--{{=html_block('Direccion Principal', 'direccion_principal', 1, 3)}}-->
            {{=select_block('Estado Cliente', 'estado_cliente', 'estados_clientes', 1, 3)}}
            {{=html_block('Email Cliente', 'email_contacto', 1, 3)}}
        </div>

        <div class="row">
            {{=html_block('Nota', 'nota', 1, 5)}}
            {{=html_block('URL', 'url', 1, 5)}}
        </div>
    </div>
    <div id="current_grid" class="{{=data_vars['aux_1']['table']}}" value="{{=data_vars['main']['inner']}}"></div>
    <div class="row demo-row">
        <div class="col-xs-4">
            <a id="subset_1" class="btn btn-block btn-lg btn-primary">{{=data_vars['aux_1']['label']}}</a>
        </div>
        <div class="col-xs-4">
            <a id="subset_2" class="btn btn-block btn-lg btn-warning">{{=data_vars['aux_2']['label']}}</a>
        </div>
        <div class="col-xs-4">
            <a id="subset_3" class="btn btn-block btn-lg btn-warning">{{=data_vars['aux_3']['label']}}</a>
        </div>
    </div>
    <div class="row demo-row">

        <div class="col-xs-4">
            <a id="subset_4" class="btn btn-block btn-lg btn-warning">{{=data_vars['aux_4']['label']}}</a>
        </div>
        <div class="col-xs-4">
            <a id="subset_5" class="btn btn-block btn-lg btn-warning">{{=data_vars['aux_5']['label']}}</a>
        </div>
        <div class="col-xs-4">
            <a id="subset_6" class="btn btn-block btn-lg btn-warning">{{=data_vars['aux_6']['label']}}</a>
        </div>
    </div>
    <div class="row demo-row">

        <div class="col-xs-4">
            <a id="subset_7" class="btn btn-block btn-lg btn-warning">{{=data_vars['aux_7']['label']}}</a>
        </div>
        <div class="col-xs-4">
            <a id="subset_8" class="btn btn-block btn-lg btn-warning">{{=data_vars['aux_8']['label']}}</a>
        </div>
        <div class="col-xs-4">
            <a id="subset_9" class="btn btn-block btn-lg btn-warning">{{=data_vars['aux_9']['label']}}</a>
        </div>
    </div>
    <div id="data_grid" style="width: 100%; height: 400px;"></div>
    <div id="someDiv"></div>
    <br>

    <div class="row demo-row">
        <div class="col-xs-4">
        </div>
        <div class="col-xs-4">
        </div>
        <div class="col-xs-2">
            <a id="reporte" class="btn btn-block btn-lg btn-success" href="{{=URL()}}">Reporte</a>
        </div>
        <div class="col-xs-2">
            <a id="limpiar" class="btn btn-block btn-lg btn-success" href="{{=URL()}}">Limpiar</a>
        </div>
    </div> <!-- /row -->
</div>
{{include 'datagrid_model_plus.html'}}
