{{extend 'layout.html'}}
<!-- FullCalendar -->
<link href="{{=URL('static','css/fullcalendar.min.css')}}" rel="stylesheet">
<link href="{{=URL('static','css/fullcalendar.print.css')}}" rel="stylesheet" media="print">
        <!-- FullCalendar -->
<script src="{{=URL('static','js/moment.min.js')}}"></script>
<script src="{{=URL('static','js/fullcalendar.min.js')}}"></script>
<script src="{{=URL('static','js/lang/es.js')}}"></script>
<script>

	$(document).ready(function() {

		$('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			//defaultDate: '2016-06-12',
			selectable: true,
			selectHelper: true,
			select: function(start, end) {
                var m = $.fullCalendar.moment.parseZone(start);
                start_date = m.format();
			    $(location).attr('href', 'registros?fecha='+start_date);
//				var title = prompt('Event Title:');
//				var eventData;
//				if (title) {
//					eventData = {
//						title: title,
//						start: start,
//						end: end
//					};
//					$('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
//				}
//				$('#calendar').fullCalendar('unselect');
			},
			editable: true,
			eventLimit: true, // allow "more" link when too many events
			events: {{=XML(events)}}
                    //[
//				{
//					title: 'All Day Event',
//					start: '2016-06-01',
//					editable: true
//				},
//				{
//					title: 'Long Event',
//					start: '2016-06-07',
//					end: '2016-06-10'
//				},
//				{
//					id: 999,
//					title: 'Repeating Event',
//					start: '2016-06-09T16:00:00'
//				},
//				{
//					id: 999,
//					title: 'Repeating Event',
//					start: '2016-06-16T16:00:00'
//				},
//				{
//					title: 'Conference',
//					start: '2016-06-11',
//					end: '2016-06-13'
//				},
//				{
//					title: 'Meeting',
//					start: '2016-06-12T10:30:00',
//					end: '2016-06-12T12:30:00'
//				},
//				{
//					title: 'Lunch',
//					start: '2016-06-12T12:00:00'
//				},
//				{
//					title: 'Meeting',
//					start: '2016-06-12T14:30:00'
//				},
//				{
//					title: 'Happy Hour',
//					start: '2016-06-12T17:30:00'
//				},
//				{
//					title: 'Dinner',
//					start: '2016-06-12T20:00:00'
//				},
//				{
//					title: 'Birthday Party',
//					start: '2016-06-13T07:00:00'
//				},
//				{
//					title: 'Click for Google',
//					url: 'http://google.com/',
//					start: '2016-06-28'
//				}
//			]
		});

	});

</script>
<style>

	body {
		margin: 40px 10px;
		padding: 0;
		font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
		font-size: 14px;
	}

	#calendar {
		max-width: 900px;
		margin: 0 auto;
	}

</style>

<div class="container">
    <div class="row demo-row">
        <br/>
	<div id='calendar'></div>
        </div>
</div>