{{extend 'layout_grid.html'}}

<br><br><br>

<div class="container">
    <div class="row demo-row">
        <div class="col-xs-2">
            <a id="guardar" class="btn btn-block btn-lg btn-success">Guardar</a>
        </div>
        <div class="col-xs-6">
            <div class="form-group has-inactive">
                <input type="text" value="" placeholder="{{=data_vars['main']['label']}}" id="name_terms" class="form-control" />
                <input id="_name_terms_aux" name="term" type="hidden" value="" />
                <input id="_alt_terms_aux" name="term" type="hidden" value="" />
            </div>
        </div>
        <div class="col-xs-2">
            <a id="buscar" class="btn btn-block btn-lg btn-success">Buscar</a>
        </div>
        <div class="col-xs-2">
            <a id="ver_tabla" class="btn btn-block btn-lg btn-success">Ver Tabla</a>
        </div>
    </div> <!-- /row -->
    <div class="main_view">


        <div class="row">
            {{=select_block('Cliente', 'cliente', 'clientes', 1, 3, 'cliente')}}
            {{=html_block('Plazo Ejecucion', 'plazo_ejecucion_promedio', 1, 3)}}
            {{=html_block('Costo Directo', 'costo_directo', 1, 3)}}
        </div>

        <div class="row">
            {{=select_block('Marca GG', 'marca', 'marcas_definiciones', 1, 3,'marca')}}
            {{=option_block('Adicionales', 'aplica_adicionales', 1, 3)}}
            {{=html_block('Gastos Generales', 'gastos_generales', 1, 3)}}
        </div>

        <div class="row">
            {{=select_block('Contacto Cliente', 'contacto_cotizacion', 'contactos', 1, 3,'contacto_cliente')}}
            {{=option_block('Penalidades', 'aplica_penalidades', 1, 3)}}
            {{=html_block('Utilidad', 'utilidad', 1, 3)}}
        </div>

        <div class="row">
            {{=date_block('Fecha Registro', 'fecha_registro_cotizacion', 1, 3)}}
            {{=date_block('Fecha Cotizacion', 'fecha_cotizacion', 1,3)}}
            {{=select_block('Calidad Acabados', 'calidad_acabado', 'calidades_acabados', 1, 3)}}
        </div>

        <div class="row">
            {{=select_block('Moneda', 'moneda', 'monedas', 1,3)}}
            {{=html_block('Sub Total', 'sub_total', 1, 3)}}
            {{=select_block('Servicio Producto', 'servicio_producto_cotizacion', 'servicios_productos', 1, 3, 'servicio_producto')}}
        </div>

        <div class="row">
            {{=select_block('Alcances Servicio', 'alcances_servicio', 'alcances_servicios', 1, 3)}}
            {{=select_block('Calidad Materiales', 'calidad_material', 'calidades_materiales', 1, 3)}}
            {{=html_block('% Gastos Generales', 'porcentaje_gastos_generales', 1, 3)}}
        </div>

        <div class="row">
            {{=html_block('Descuento', 'descuento', 1, 3)}}
            {{=select_block('Tipo de Trabajo', 'tipo_trabajo', 'tipos_trabajos', 1, 3)}}
            {{=select_block('Tipo de cotizacion', 'tipo_cotizacion', 'tipos_cotizaciones', 1, 3)}}
        </div>

        <div class="row">
            {{=select_block('Calidad Limpieza', 'calidad_limpieza', 'calidades_materiales', 1, 3)}}
            {{=html_block('Utilidad (%)', 'porcentaje_utilidad', 1, 3)}}
            {{=html_block('Sub total venta', 'sub_total_venta', 1, 3)}}
        </div>

        <div class="row">
            {{=select_block('Tipo Horario', 'tipo_horario', 'tipos_horarios', 1, 3)}}
            {{=select_block('Plazo de Pagos', 'plazo_pago', 'plazos_pagos', 1, 3)}}
            {{=select_block('Disposicion Desmonte', 'disposicion_desmonte', 'disposiciones_desmonte', 1, 3)}}
        </div>

        <div class="row">
            {{=html_block('Descuento(%)', 'porcentaje_descuento', 1, 3)}}
            {{=html_block('Impuesto IGV(18%)', 'impuesto_igv', 1, 3)}}
            <!--{{=html_block('Reporte Archivo', 'reporte_adjunto', 1, 3)}}-->
        </div>

        <div class="row">
            <!--{{=html_block('Cotizacion Archivo', 'cotizacion_adjunto', 1, 3)}}-->
            {{=select_block('Tiempo de Garantia', 'tiempo_garantia', 'tiempos_garantia', 1, 3)}}
            {{=html_block('% Igv', 'porcentaje_igv', 1, 3)}}
        </div>

        <div class="row">
            {{=html_block('Observaciones', 'observaciones', 1, 3)}}
            {{=html_block('Nota', 'nota', 1, 3)}}
            {{=html_block('Total Venta', 'total_venta', 1, 3)}}
        </div>

    </div>
    <div id="current_grid" class="{{=data_vars['aux_1']['table']}}" value="{{=data_vars['main']['inner']}}"></div>
    <div class="row demo-row">
        <div class="col-xs-6">
            <a id="subset_1" class="btn btn-block btn-lg btn-primary">{{=data_vars['aux_1']['label']}}</a>
        </div>
        <div class="col-xs-6">
            <a id="subset_2" class="btn btn-block btn-lg btn-primary">{{=data_vars['aux_2']['label']}}</a>
        </div>
    </div>
    <div id="data_grid" style="width: 100%; height: 400px;"></div>
    <div id="someDiv"></div>
    <br>

    <div class="row demo-row">
        <div class="col-xs-4">
        </div>
        <div class="col-xs-4">
        </div>
        <div class="col-xs-2">
            <a id="reporte" class="btn btn-block btn-lg btn-success" href="{{=URL()}}">Reporte</a>
        </div>
        <div class="col-xs-2">
            <a id="limpiar" class="btn btn-block btn-lg btn-success" href="{{=URL()}}">Limpiar</a>
        </div>
    </div> <!-- /row -->
</div>
{{include 'datagrid_model.html'}}

{{=js_recalc('js_gastos', 'js_utilidad', 'js_impuesto_igv', 'js_descuento', 'js_total_venta', 'js_sub_total', 'js_sub_total_venta')}}


{{=js_percentage('js_gastos', 'gastos_generales', 'costo_directo', 'porcentaje_gastos_generales')}}
{{=js_percentage('js_utilidad', 'utilidad',  'costo_directo', 'porcentaje_utilidad')}}
{{=js_percentage('js_impuesto_igv', 'impuesto_igv', 'sub_total_venta', 'porcentaje_igv' )}}
{{=js_percentage('js_descuento', 'descuento', 'sub_total', 'porcentaje_descuento' )}}
{{=js_sum('js_total_venta', 'total_venta', 'sub_total', 'impuesto_igv')}}
{{=js_sum('js_sub_total', 'sub_total', 'costo_directo', 'gastos_generales', 'utilidad')}}
{{=js_min('js_sub_total_venta', 'sub_total_venta', 'sub_total', 'descuento')}}



