{{extend 'layout_grid.html'}}

<br><br><br>

<div class="container">
    <div class="row demo-row">
        <div class="col-xs-2">
            <a id="guardar" class="btn btn-block btn-lg btn-success">Guardar</a>
        </div>
        <div class="col-xs-6">
            <div class="form-group has-inactive">
                <input type="text" value="" placeholder="{{=data_vars['main']['label']}}" id="name_terms" class="form-control" />
                <input id="_name_terms_aux" name="term" type="hidden" value="" />
                <input id="_alt_terms_aux" name="term" type="hidden" value="" />
            </div>
        </div>
        <div class="col-xs-2">
            <a id="buscar" class="btn btn-block btn-lg btn-success">Buscar</a>
        </div>
        <div class="col-xs-2">
            <a id="ver_tabla" class="btn btn-block btn-lg btn-success">Ver Tabla</a>
        </div>
    </div> <!-- /row -->
    <div class="main_view">
        <div class="row">
        {{=select_block('Tipo comprobante', 'tipo_comprobante', 'tipos_comprobantes', 1, 3)}}
        {{=html_block('Prefijo comprobante', 'prefijo_comprobante', 1, 3)}}
        {{=html_block('Dias vencidos', 'dias_vencidos', 1, 3)}}
        </div>

        <div class="row">
        {{=select_block('Numero Proyecto', 'numero_proyecto', 'proyectos', 1, 3,'numero_proyecto')}}
        {{=html_block('Numero comprobante', 'numero_comprobante', 1, 3)}}
        {{=html_block('Total ventas', 'total_venta', 1, 3)}}
        </div>

        <div class="row">
        {{=select_block('Cliente', 'cliente', 'clientes', 1, 3, 'cliente')}}
        {{=html_block('Monto detraccion', 'monto_detraccion', 1, 3)}}
        {{=html_block('Monto adelanto', 'monto_adelanto', 1, 3)}}

        </div>

        <div class="row">
        {{=select_block('Contacto', 'contacto_cliente', 'contactos', 1, 3,'contacto_cliente')}}
        {{=html_block('Monto saldo', 'monto_saldo', 1, 3)}}
        {{=select_block('Estado vencimiento', 'estado_vencimiento', 'estados_vencimientos',1, 3)}}
        </div>

        <div class="row">
        {{=select_block('Estado cuentas por cobrar', 'estado_cuenta_cobrar', 'estados_cuentas_cobrar', 1, 3)}}
        {{=date_block('Fecha vencimiento', 'fecha_vencimiento', 1, 3)}}
        {{=html_block('Nota', 'nota', 1, 3)}}
        </div>


    </div>
    <div id="current_grid" class="{{=data_vars['aux_1']['table']}}" value="{{=data_vars['main']['inner']}}"></div>
    <div class="row demo-row">
        <div class="col-xs-12">
            <a id="subset_1" class="btn btn-block btn-lg btn-primary">{{=data_vars['aux_1']['label']}}</a>
        </div>
    </div>
    <div id="data_grid" style="width: 100%; height: 400px;"></div>
    <div id="someDiv"></div>
    <br>

    <div class="row demo-row">
        <div class="col-xs-4">
        </div>
        <div class="col-xs-4">
        </div>
        <div class="col-xs-2">
            <a id="reporte" class="btn btn-block btn-lg btn-success" href="{{=URL()}}">Reporte</a>
        </div>
        <div class="col-xs-2">
            <a id="limpiar" class="btn btn-block btn-lg btn-success" href="{{=URL()}}">Limpiar</a>
        </div>
    </div> <!-- /row -->
</div>
{{include 'datagrid_model.html'}}
