{{extend 'layout_grid.html'}}

<br><br><br>

<div class="container">
    <div class="row demo-row">
        <div class="col-xs-2">
            <a id="guardar" class="btn btn-block btn-lg btn-success">Guardar</a>
        </div>
        <div class="col-xs-6">
            <div class="form-group has-inactive">
                <input type="text" value="" placeholder="{{=data_vars['main']['label']}}" id="name_terms" class="form-control" />
                <input id="_name_terms_aux" name="term" type="hidden" value="" />
                <input id="_alt_terms_aux" name="term" type="hidden" value="" />
            </div>
        </div>
        <div class="col-xs-2">
            <a id="buscar" class="btn btn-block btn-lg btn-success">Buscar</a>
        </div>
        <div class="col-xs-2">
            <a id="ver_tabla" class="btn btn-block btn-lg btn-success">Ver Tabla</a>
        </div>
    </div> <!-- /row -->
    <div class="main_view">
        <div class="row">
            {{=select_block('Cliente', 'cliente', 'clientes', 1, 3, 'cliente')}}
        </div>

        <div class="row">
            <!--{{=select_block('Razon Social GG','razon_social_gg','razones_zociales_gg', 1, 3,'razon_social_gg')}}-->
            {{=select_block('N° Ticket', 'numero_ticket', 'tickets', 1, 3, 'id')}}
            {{=select_block('Estado Cuenta Pagar', 'estado_cuenta_cobrar', 'estados_cuentas_cobrar', 1, 3)}}
            {{=select_block('Tipo de Pago', 'tipo_pago', 'tipos_pagos', 1, 3)}}
        </div>

        <div class="row">
            {{=html_block('Monto Adelanto', 'monto_adelanto', 1, 3)}}
            {{=html_block('Saldo por Cobrar', 'saldo_por_cobrar', 1, 3)}}
            {{=date_block('Fecha Cobranza', 'fecha_cobranza', 1, 3)}}
        </div>

        <div class="row">
            {{=select_block('Contacto Cobranza', 'contacto_cobranzas', 'contactos', 1, 3,'contacto_cliente')}}
            {{=date_block('Fecha Cobranza Realizada', 'fecha_cobranza_realizado', 1, 3)}}
            {{=html_block('Nota', 'nota', 1, 3)}}
        </div>

    </div>
    <div id="current_grid" class="{{=data_vars['aux_1']['table']}}" value="{{=data_vars['main']['inner']}}"></div>
    <br>

    <div class="row demo-row">
        <div class="col-xs-4">
        </div>
        <div class="col-xs-4">
        </div>
        <div class="col-xs-2">
            <a id="reporte" class="btn btn-block btn-lg btn-success" href="{{=URL()}}">Reporte</a>
        </div>
        <div class="col-xs-2">
            <a id="limpiar" class="btn btn-block btn-lg btn-success" href="{{=URL()}}">Limpiar</a>
        </div>
    </div> <!-- /row -->
</div>
{{include 'datagrid_model.html'}}