{{extend 'layout_grid.html'}}

<br><br><br>

<div class="container">
    <div class="row demo-row">
        <div class="col-xs-2">
            <a id="guardar" class="btn btn-block btn-lg btn-success">Guardar</a>
        </div>
        <div class="col-xs-6">
            <div class="form-group has-inactive">
                <input type="text" value="" placeholder="{{=data_vars['main']['label']}}" id="name_terms" class="form-control" />
                <input id="_name_terms_aux" name="term" type="hidden" value="" />
                <input id="_alt_terms_aux" name="term" type="hidden" value="" />
            </div>
        </div>
        <div class="col-xs-2">
            <a id="buscar" class="btn btn-block btn-lg btn-success">Buscar</a>
        </div>
        <div class="col-xs-2">
            <a id="ver_tabla" class="btn btn-block btn-lg btn-success">Ver Tabla</a>
        </div>
    </div> <!-- /row -->
    <div class="main_view">
        <div class="row">
            {{=select_block('N° Ticket', 'numero_ticket', 'tickets', 1, 3, 'id')}}
            {{=select_block('Numero cotizacion', 'numero_cotizacion', 'cotizaciones', 1, 3,'numero_cotizacion')}}
            {{=select_block('Cliente', 'cliente', 'clientes', 1, 3, 'cliente')}}

            <!--{{=select_block('Marca GG', 'marca_gg', 'marcas_definiciones', 1, 3,'marca')}}-->
        </div>

        <div class="row">
            {{=select_block('Contacto Facturacion', 'contacto_facturacion', 'contactos', 1, 3,'contacto_cliente')}}
            {{=select_block('Razon Social GG','razon_social_gg','razones_zociales_gg', 1, 3,'razon_social_gg')}}
            {{=date_block('Fecha Facturacion', 'fecha_facturacion', 1, 3)}}
        </div>

        <div class="row">
            {{=select_block('Estado Facturacion', 'estado_facturacion', 'estados_facturacion', 1, 3)}}
            {{=select_block('Tipo comprobante', 'tipo_comprobante', 'tipos_comprobantes', 1, 3)}}
            <!--{{=select_block('Moneda', 'moneda', 'monedas', 1, 3)}}-->
        </div>


            <!--{{=html_block('R.Social/ Nombre', 'razon_social_nombre_completo_cliente', 1, 3)}}-->
            <!--{{=html_block('Ruc/ Dni/ Ce', 'ruc_dni_ce_cliente', 1, 3)}}-->
            <!--{{=html_block('Direccion Fiscal', 'direccion_fiscal_cliente', 1, 3)}}-->


        <div class="row">
            {{=html_block('Porcentaje Detraccion', 'porcentaje_detraccion', 1, 3)}}
            {{=html_block('Monto de Detraccion', 'monto_detraccion', 1, 3)}}
            {{=date_block('Fecha recepcion', 'fecha_recepcion', 1, 3)}}
        </div>

        <div class="row">
            <!--{{=html_block('Impuesto IGV(18%)', 'impuesto_igv', 1, 3)}}-->
            <!--{{=html_block('Ruc/ Dni/ Ce', 'ruc_dni_ce_cliente', 1, 3)}}-->
            <!--{{=html_block('Direccion Fiscal', 'direccion_fiscal_cliente', 1, 3)}}-->
        </div>

         <div class="row">
            <!--{{=html_block('Sub Total','sub_total', 1, 3)}}-->
            <!--{{=html_block('Total venta', 'total_venta', 1, 3)}}-->
             {{=select_block('Servicio Producto', 'servicio_producto_cotizacion', 'servicios_productos', 1, 3, 'servicio_producto')}}
             {{=html_block('NOTA', 'nota', 1, 3)}}
             {{=option_block('Detraccion', 'detraccion', 1, 3)}}
         </div>

    </div>
    <div id="current_grid" class="{{=data_vars['aux_1']['table']}}" value="{{=data_vars['main']['inner']}}"></div>
    <div class="row demo-row">
        <div class="col-xs-12">
            <a id="subset_1" class="btn btn-block btn-lg btn-primary">{{=data_vars['aux_1']['label']}}</a>
        </div>
    </div>
    <div id="data_grid" style="width: 100%; height: 400px;"></div>
    <div id="someDiv"></div>
    <br>

    <div class="row demo-row">
        <div class="col-xs-4">
        </div>
        <div class="col-xs-4">
        </div>
        <div class="col-xs-2">
            <a id="reporte" class="btn btn-block btn-lg btn-success" href="{{=URL()}}">Reporte</a>
        </div>
        <div class="col-xs-2">
            <a id="limpiar" class="btn btn-block btn-lg btn-success" href="{{=URL()}}">Limpiar</a>
        </div>
    </div> <!-- /row -->
</div>
{{include 'datagrid_model.html'}}
