{{extend 'layout_grid.html'}}

<br><br><br>
<div class="container">
    <div class="row demo-row">
        <div class="col-xs-2">
            <a id="guardar" class="btn btn-block btn-lg btn-success">Guardar</a>
        </div>
        <div class="col-xs-6">
            <div class="form-group has-inactive">
                <input type="text" value="" placeholder="{{=data_vars['main']['label']}}" id="name_terms" class="form-control" />
                <input id="_name_terms_aux" name="term" type="hidden" value="" />
                <input id="_alt_terms_aux" name="term" type="hidden" value="" />
            </div>
        </div>
        <div class="col-xs-2">
            <a id="buscar" class="btn btn-block btn-lg btn-success">Buscar</a>
        </div>
        <div class="col-xs-2">
            <a id="ver_tabla" class="btn btn-block btn-lg btn-success">Ver Tabla</a>
        </div>
    </div> <!-- /row -->
    <div class="main_view">
        <div class="row">
            {{=select_block('Marca GG', 'marca_gg', 'marcas_definiciones', 1, 3,'marca')}}
            {{=select_block('Razon social GG', 'razon_social_gg', 'razones_zociales_gg', 1, 3,'razon_social_gg')}}
        </div>
        <div class="row">
            {{=select_block('Tipo Centro Costo', 'tipo_centro_costo', 'tipos_centros_costos', 1, 3)}}
            {{=html_block('Numero centro de costo', 'numero_centro_costo_proyecto', 1, 3)}}
            {{=html_block('Total Venta', 'total_venta', 1, 3)}}
        </div>

        <div class="row">
            {{=date_block('Fecha Ticket G.', 'fecha_ticket_gasto', 1, 3)}}
            {{=select_block('Tipo de Pago', 'tipo_pago', 'tipos_pagos', 1, 3)}}
            {{=select_block('Moneda', 'moneda', 'monedas', 1, 3)}}
        </div>

        <div class="row">
            {{=html_block('Detalle ticket', 'detalle_ticket_gasto', 1, 3)}}
            {{=option_block('Detraccion', 'detraccion', 1, 3)}}
            {{=html_block('Porcentaje Detraccion', 'porcentaje_detraccion', 1, 3)}}
        </div>

        <div class="row">
            <!--{{=html_block('Total Venta', 'total_venta', 1, 3)}}-->
            {{=html_block('Monto Detraccion', 'monto_detraccion', 1, 3)}}
            {{=date_block('Fecha recepcion', 'fecha_recepcion', 1, 3)}}
        </div>

        <div class="row">
            {{=html_block('Monto sub total', 'monto_sub_total', 1, 3)}}
            {{=html_block('Monto impuesto', 'monto_impuesto', 1, 3)}}
            {{=html_block('Monto total gasto', 'monto_total_gasto', 1, 3)}}
        </div>

    </div>
    <div id="current_grid" class="{{=data_vars['aux_1']['table']}}" value="{{=data_vars['main']['inner']}}"></div>
    <br>

    <div class="row demo-row">
        <div class="col-xs-4">
        </div>
        <div class="col-xs-4">
        </div>
        <div class="col-xs-2">
            <a id="reporte" class="btn btn-block btn-lg btn-success" href="{{=URL()}}">Reporte</a>
        </div>
        <div class="col-xs-2">
            <a id="limpiar" class="btn btn-block btn-lg btn-success" href="{{=URL()}}">Limpiar</a>
        </div>
    </div> <!-- /row -->
</div>
{{include 'datagrid_model.html'}}

{{=js_recalc('js_detraccion')}}


{{=js_multx('js_detraccion','monto_detraccion', 'total_venta', 'porcentaje_detraccion')}}