{{extend 'layout_grid.html'}}

<br><br><br>
<div class="container">
    <div class="row demo-row">
        <div class="col-xs-2">
            <a id="guardar" class="btn btn-block btn-lg btn-success">Guardar</a>
        </div>
        <div class="col-xs-6">
            <div class="form-group has-inactive">
                <input type="text" value="" placeholder="{{=data_vars['main']['label']}}" id="name_terms" class="form-control" />
                <input id="_name_terms_aux" name="term" type="hidden" value="" />
                <input id="_alt_terms_aux" name="term" type="hidden" value="" />
            </div>
        </div>
        <div class="col-xs-2">
            <a id="buscar" class="btn btn-block btn-lg btn-success">Buscar</a>
        </div>
        <div class="col-xs-2">
            <a id="ver_tabla" class="btn btn-block btn-lg btn-success">Ver Tabla</a>
        </div>
    </div> <!-- /row -->
    <div class="main_view">
        <div class="row">
            {{=select_block('Razon social gg', 'razon_social_gg', 'razones_zociales_gg', 1, 3,'razon_social_gg')}}
            {{=select_block('Marca GG', 'marca', 'marcas_definiciones', 1, 3,'marca')}}
            {{=select_block('Tipo Inversiones', 'tipo_inversion', 'tipos_inversiones', 1, 3)}}
        </div>

        <div class="row">
            {{=select_block('Tipo de Pago', 'tipo_pago', 'tipos_pagos', 1, 3)}}
            {{=select_block('Moneda', 'moneda', 'monedas', 1, 3)}}
            {{=html_block('Numero de Boucher', 'numero_boucher', 1, 3)}}
        </div>

        <div class="row">
            {{=html_block('Detalle Inversion', 'detalle_inversion', 1, 3)}}
            {{=html_block('Nota', 'nota', 1, 3)}}
            {{=option_block('Monto Inversion', 'monto_inversion', 1, 3)}}

        </div>

        <div class="row">
            {{=date_block('Fecha Ticket de Inversion', 'fecha_ticket_inversion', 1, 3)}}
        </div>
    </div>
    <div id="current_grid" class="{{=data_vars['aux_1']['table']}}" value="{{=data_vars['main']['inner']}}"></div>
    <br>

    <div class="row demo-row">
        <div class="col-xs-4">
        </div>
        <div class="col-xs-4">
        </div>
        <div class="col-xs-2">
            <a id="reporte" class="btn btn-block btn-lg btn-success" href="{{=URL()}}">Reporte</a>
        </div>
        <div class="col-xs-2">
            <a id="limpiar" class="btn btn-block btn-lg btn-success" href="{{=URL()}}">Limpiar</a>
        </div>
    </div> <!-- /row -->
</div>
{{include 'datagrid_model.html'}}