{{extend 'layout_grid.html'}}

<br><br><br>
<div class="container">
    <div class="row demo-row">
        <div class="col-xs-2">
            <a id="guardar" class="btn btn-block btn-lg btn-success">Guardar</a>
        </div>
        <div class="col-xs-6">
            <div class="form-group has-inactive">
                <input type="text" value="" placeholder="{{=data_vars['main']['label']}}" id="name_terms" class="form-control" />
                <input id="_name_terms_aux" name="term" type="hidden" value="" />
                <input id="_alt_terms_aux" name="term" type="hidden" value="" />
            </div>
        </div>
        <div class="col-xs-2">
            <a id="buscar" class="btn btn-block btn-lg btn-success">Buscar</a>
        </div>
        <div class="col-xs-2">
            <a id="ver_tabla" class="btn btn-block btn-lg btn-success">Ver Tabla</a>
        </div>
    </div> <!-- /row -->
    <div class="main_view">
        <div class="row">
        {{=select_block('Razón Social GG', 'razon_social', 'razones_sociales')}}
        {{=html_void()}}
        </div>
        <div class="row">
        {{=html_block('RUC GG', 'ruc')}}
        {{=html_block('Teléfono Fijo', 'telefono_fijo')}}
        </div>
        <div class="row">
        {{=html_block('Dirección Fiscal', 'direccion_fiscal')}}
        {{=html_block('E-mail Contacto', 'email_contacto')}}
        </div>
        <div class="row">
        {{=html_block('Nota', 'nota', 10)}}
        </div>
    </div>
    <div id="current_grid" class="{{=data_vars['aux_1']['table']}}" value="{{=data_vars['main']['inner']}}"></div>
    <div class="row demo-row">
        <div class="col-xs-4">
            <a id="subset_1" class="btn btn-block btn-lg btn-primary">{{=data_vars['aux_1']['label']}}</a>
        </div>
        <div class="col-xs-4">
            <a id="subset_2" class="btn btn-block btn-lg btn-warning">{{=data_vars['aux_2']['label']}}</a>
        </div>
        <div class="col-xs-4">
            <a id="subset_3" class="btn btn-block btn-lg btn-info">{{=data_vars['aux_3']['label']}}</a>
        </div>
    </div>
    <div id="data_grid" style="width: 100%; height: 400px;"></div>
    <div id="someDiv"></div>
    <br>

    <div class="row demo-row">
        <div class="col-xs-4">
        </div>
        <div class="col-xs-4">
        </div>
        <div class="col-xs-2">
            <a id="reporte" class="btn btn-block btn-lg btn-success" href="{{=URL()}}">Reporte</a>
        </div>
        <div class="col-xs-2">
            <a id="limpiar" class="btn btn-block btn-lg btn-success" href="{{=URL()}}">Limpiar</a>
        </div>
    </div> <!-- /row -->
</div>
        
<script>

    $( document ).ready(
            function() {
                var data_aux;

            {{for elem in aux_tables:}}
                var {{=elem}} = {{=XML(aux_tables[elem])}};
            {{pass}}
            {{cnt=0}}
            {{for grid_tmp in grid_heads:}}
            {{cnt += 1}}
                var grid_{{=cnt}}_heads = [];
            {{for row in grid_tmp:}}
                matrix = {{=XML(row)}};
            {{if 'editable' in row:}}
            {{if 'select' in row['editable']['type']:}}
            {{aux_table=row['editable']['aux']}}
                matrix['editable']['items'] = {{=aux_table}};
                matrix['render'] =  function (record, index, col_index) {
                    var html = '';
                    for (var p in {{=aux_table}}) {
                        if ({{=aux_table}}[p].id == this.getCellValue(index, col_index)) html = {{=aux_table}}[p].text;
                    }
                    return html;
                };
            {{pass}}
            {{pass}}
                grid_{{=cnt}}_heads.push(matrix);
            {{pass}}
            {{pass}}


                $('#name_terms').autocomplete({
                    source: function( request, response ) {
                        $.ajax({
                            url: "/controlbix/default/get_items",
                            dataType: "json",
                            data: {
                                q: request.term,
                                base: '{{=data_vars['main']['table']}}',
                                content: '{{=data_vars['main']['content']}}',
                                format: '{{=data_vars['main']['format']}}',
                                aux_base : '{{=data_vars['main']['aux_base']}}',
                                relation : '{{=data_vars['main']['relation']}}',
                                join : '{{=data_vars['main']['join']}}'
                            },
                            success: function( data ) {
                                response( $.map( data, function(item) {
                                    return {
                                        value: item.value,
                                        uuid: item.uuid,
                                        aux_uid : item.aux_uid
                                    }
                                }));
                            }
                        });
                    },
                    minLength: 2,
                    select: function( event, ui ) {
                        $("#_name_terms_aux").val(ui.item.uuid);
                        $("#_alt_terms_aux").val(ui.item.aux_uid);
                    }
                });

                $('#someDiv').after('<div id="data_grid"></div>');
                //ShowGrid
                function showgrid_aux(columns, table, record_id) {
                    //console.log(table);
                    var content;
                    var aux_field = document.getElementById("current_grid").getAttribute("value");
                    function assign_vars(response) {
                        content = response;
                    }
                    function get_data(table){
                        $.ajax({
                            url: "/controlbix/default/grid_data",
                            dataType: "json",
                            async: false,
                            data: {
                                query: record_id,
                                base: table,
                                content: aux_field,
                            },
                            success: assign_vars
                        });
                    }
                    get_data(table);
                    //console.log(content);
                    $('#data_grid').w2grid({
                        name: 'data_grid',
                        show: {
                            toolbar: true,
                            footer: true,
                        },
                        columns: columns,
                        records: content,
                        toolbar: {
                            items: [
                                {id: 'add', type: 'button', caption: 'Agregar Registro', icon: 'w2ui-icon-plus'},
                                {id: 'save', type: 'button', caption: 'Guardar', icon: 'w2ui-icon-plus'}
                            ],
                            onClick: function (event) {
                                if (event.target == 'add') {
                                    w2ui.data_grid.add({recid: w2ui.data_grid.records.length + 1});
                                }
                                if (event.target == 'save') {
                                    //console.log('aaa');
                                    var data_id = $("#_name_terms_aux").val();
                                    var data_val = document.getElementById("current_grid").getAttribute("class");
                                    var aux_val = document.getElementById("current_grid").getAttribute("value");
                                    data = w2ui['data_grid'].getChanges();
                                    data.unshift({
                                        base:data_val,
                                        reference:aux_val,
                                        value:data_id
                                    });
                                    $.ajax({
                                        url: "/controlbix/default/set_data_grid",
                                        type: "POST",
                                        data: JSON.stringify(data),
                                        processData: false,
                                        contentType: "application/json; charset=UTF-8",
                                        success: function( result ) {
                                            elem = JSON.parse(result);
                                            if(elem['status'] == 'ok'){
                                                w2alert('Registro Guardado');
                                            }else{
                                                w2alert('Error en el Registro');
                                            }
                                        }
                                    })
                                }
                            }
                        },

                    });
                }
//                function showChanged() {
//                    data = w2ui['data_grid'].getChanges();
//                };

                $('#data_grid').w2grid({
                    name: 'data_grid'
                });
//Guardar Formulario
                $( "#guardar" ).click(function() {
                    var data_val = $("#name_terms").val();
                    var data_id = $("#_name_terms_aux").val();
                    var aux_id = $("#_alt_terms_aux").val();
                    var extra = {};
                    extra['id'] = data_id;
                    if(aux_id!=''){
                        data_val = aux_id;
                    }
                {{
                related_field = '%s---%s' % (data_vars['main']['content'], data_vars['main']['relation'])
                }}
                    extra['{{=related_field}}'] = data_val;
                    $(".main_view .form-control").each(function() {
                        id = $(this).attr('id');
                        val = $(this).val();
                        if(id) {
                            extra[id] = val;
                        }
                    });

                    var data_vals = {'{{=data_vars['main']['table']}}':extra};
                    $.ajax({
                        url: "/controlbix/default/set_data",
                        type: "POST",
                        data: JSON.stringify(data_vals),
                        processData: false,
                        contentType: "application/json; charset=UTF-8",
                        success: function( result ) {
                            elem = JSON.parse(result);
                            if(elem['status'] == 'ok'){
                                w2alert('Registro Guardado');
                            }else{
                                w2alert('Error en el Registro');
                            }
                        }
                    });
                });
//Llenar Rejilla
                $( "#buscar" ).click(function() {
                    var record_id = $("#_name_terms_aux").val();
                    $('#current_grid').attr('value','{{=data_vars['main']['inner']}}');
                    //console.log(record_id);
                    w2ui['data_grid'].destroy();
                    showgrid_aux(grid_1_heads, '{{=data_vars['aux_1']['table']}}', record_id);
                    $.ajax({
                        url: "/controlbix/default/get_data",
                        dataType: "json",
                        data: {
                            query: record_id,
                            base: '{{=data_vars['main']['table']}}',
                            content: '',
                        },
                        success: function( data ) {
                            $.each( data, function( key, value ) {
                                $("#"+key).val(value);
                            });
                        }
                    });
                });
                $( "#subset_1" ).click(function() {
                    var record_id = $("#_name_terms_aux").val();
                    $('#current_grid').attr('class','{{=data_vars['aux_1']['table']}}');
                    w2ui['data_grid'].destroy();
                    showgrid_aux(grid_1_heads, '{{=data_vars['aux_1']['table']}}', record_id);
                });
                $( "#subset_2" ).click(function() {
                    var record_id = $("#_name_terms_aux").val();
                    $('#current_grid').attr('class','{{=data_vars['aux_2']['table']}}');
                    w2ui['data_grid'].destroy();
                    showgrid_aux(grid_2_heads, '{{=data_vars['aux_2']['table']}}', record_id);
                });
                $( "#subset_3" ).click(function() {
                    var record_id = $("#_name_terms_aux").val();
                    $('#current_grid').attr('class','{{=data_vars['aux_3']['table']}}');
                    w2ui['data_grid'].destroy();
                    showgrid_aux(grid_3_heads, '{{=data_vars['aux_3']['table']}}', record_id);
                });
            });
</script>
