{{extend 'layout_grid.html'}}

<br><br><br>

<div class="container">
    <div class="row demo-row">
        <div class="col-xs-2">
            <a id="guardar" class="btn btn-block btn-lg btn-success">Guardar</a>
        </div>
        <div class="col-xs-6">
            <div class="form-group has-inactive">
                <input type="text" value="" placeholder="{{=data_vars['main']['label']}}" id="name_terms" class="form-control" />
                <input id="_name_terms_aux" name="term" type="hidden" value="" />
                <input id="_alt_terms_aux" name="term" type="hidden" value="" />
            </div>
        </div>
        <div class="col-xs-2">
            <a id="buscar" class="btn btn-block btn-lg btn-success">Buscar</a>
        </div>
        <div class="col-xs-2">
            <a id="ver_tabla" class="btn btn-block btn-lg btn-success">Ver Tabla</a>
        </div>
    </div> <!-- /row -->
    <div class="main_view">
        <div class="row">
            {{=date_block('Fecha Registro', 'fecha_registro', 1, 3)}}
        </div>
        <div class="row">
            <!--{{=select_block('Marca GG', 'marca', 'marcas_definiciones', 1, 3,'marca')}}-->
            {{=html_block('Referencia de Busqueda', 'referencia_de_busqueda', 1, 3)}}
            {{=html_block('Ocupacion', 'ocupacion', 1, 3)}}
            {{=html_block('Pretension Mensual', 'pretension_mensual', 1, 3)}}
        </div>

        <div class="row">
            {{=select_block('', 'tipo_personal', 'tipos_personal', 1, 3)}}
            {{=html_block('Grado Estudios', 'grado_estudios', 1, 3)}}
            {{=html_block('Clave Sol', 'clave_sol', 1, 3)}}
        </div>

        <div class="row">
            {{=html_block('DNI', 'dni', 1, 3)}}
            {{=select_block('', 'area_trabajo', 'areas_trabajo', 1, 3)}}
            {{=html_block('', 'contrato', 1, 3)}}
        </div>

        <div class="row">
            {{=date_block('', 'fecha_nacimiento', 1, 3)}}
            {{=select_block('', 'posicion_rol', 'posiciones_roles', 1, 3)}}
            {{=html_block('', 'seguro_scrt', 1, 3)}}
        </div>

        <div class="row">
            {{=html_block('', 'telefono_celular', 1, 3)}}
            {{=html_block('', 'pretencion_diaria', 1, 3)}}
            {{=html_block('', 'vencimiento_seguro_scrt', 1, 3)}}
        </div>

        <div class="row">
            {{=html_block('', 'telefono_fijo', 1, 3)}}
            {{=html_block('', 'direccion_fiscal', 1, 3)}}
            {{=html_block('Cuenta Haberes', 'numero_cuenta_haberes', 1, 3)}}
        </div>

        <div class="row">
            {{=html_block('', 'email_personal', 1, 3)}}
            {{=html_block('', 'entidad_bancaria', 1, 3)}}
            {{=html_block('', 'codigo_interbancario', 1, 3)}}
        </div>

        <div class="row">
            <!--{{=html_block('', 'direccion_fiscal', 1, 5)}}-->
            {{=html_block('', 'especialidad', 1, 5)}}
        </div>

        <div class="row">
            {{=html_block('Nota', 'nota', 1,5)}}
            {{=html_block('', 'experiencia', 1,5)}}
        </div>
        <div class="row">
            {{=select_block('', 'estado_personal', 'estados_personal', 1, 3)}}
            {{=select_block('', 'estado_contrato', 'estados_contratos', 1, 3)}}
            {{=html_block('', 'pretension_semanal', 1,3)}}
        </div>

    </div>
    <div id="current_grid" class="{{=data_vars['aux_1']['table']}}" value="{{=data_vars['main']['inner']}}"></div>
    <div class="row demo-row">
        <div class="col-xs-4">
            <a id="subset_1" class="btn btn-block btn-lg btn-primary">{{=data_vars['aux_1']['label']}}</a>
        </div>
        <div class="col-xs-4">
            <a id="subset_2" class="btn btn-block btn-lg btn-warning">{{=data_vars['aux_2']['label']}}</a>
        </div>
        <div class="col-xs-4">
            <a id="subset_3" class="btn btn-block btn-lg btn-warning">{{=data_vars['aux_3']['label']}}</a>
        </div>
    </div>
    </div>
    <div id="data_grid" style="width: 100%; height: 400px;"></div>
    <div id="someDiv"></div>
    <br>

    <div class="row demo-row">
        <div class="col-xs-4">
        </div>
        <div class="col-xs-4">
        </div>
        <div class="col-xs-2">
            <a id="reporte" class="btn btn-block btn-lg btn-success" href="{{=URL()}}">Reporte</a>
        </div>
        <div class="col-xs-2">
            <a id="limpiar" class="btn btn-block btn-lg btn-success" href="{{=URL()}}">Limpiar</a>
        </div>
    </div> <!-- /row -->
</div>
{{include 'datagrid_model.html'}}
