{{extend 'layout_grid.html'}}

<br><br><br>
<div class="container">
    <div class="row demo-row">
        <div class="col-xs-2">
            <a id="guardar" class="btn btn-block btn-lg btn-success">Guardar</a>
        </div>
        <div class="col-xs-6">
            <div class="form-group has-inactive">
                <input type="text" value="" placeholder="{{=data_vars['main']['label']}}" id="name_terms" class="form-control" />
                <input id="_name_terms_aux" name="term" type="hidden" value="" />
                <input id="_alt_terms_aux" name="term" type="hidden" value="" />
            </div>
        </div>
        <div class="col-xs-2">
            <a id="buscar" class="btn btn-block btn-lg btn-success">Buscar</a>
        </div>
        <div class="col-xs-2">
            <a id="ver_tabla" class="btn btn-block btn-lg btn-success">Ver Tabla</a>
        </div>
    </div> <!-- /row -->
    <div class="main_view">
        <div class="row">
            <!--{{=select_block('Marca GG', 'marca', 'marcas_definiciones', 1, 3,'marca')}}-->
            {{=date_block('Fecha Registro', 'fecha_registro', 1, 3)}}
            {{=html_block('Referencia de Busqueda', 'referencia_busqueda', 1, 3)}}
            {{=select_block('Moneda', 'nombre', 'tipos_personal', 1,3)}}
        </div>
        <div class="row">
            {{=html_block('Razón Social', 'razon_social', 1, 3)}}
            {{=html_block('Teléfono Contacto', 'telefono_contacto', 1, 3)}}
            {{=select_block('Tipo Proveedor','tipo_proveedor','tipos_personal')}}
        </div>
        <div class="row">
            {{=html_block('RUC', 'ruc',1, 3)}}
            {{=html_block('E-mail Contacto', 'email_contacto', 1, 3)}}
        </div>
        <div class="row">
            {{=html_block('Dirección Fiscal', 'direccion_fiscal', 1, 3)}}
            {{=html_block('Web URL', 'web_url', 1, 3)}}
        </div>
        <div class="row">
            {{=html_block('Nota', 'nota', 1, 10)}}
        </div>
    </div>
    <div id="current_grid" class="{{=data_vars['aux_1']['table']}}" value="{{=data_vars['main']['inner']}}"></div>
    <div class="row demo-row">
        <div class="col-xs-3">
            <a id="subset_1" class="btn btn-block btn-lg btn-primary">{{=data_vars['aux_1']['label']}}</a>
        </div>
        <div class="col-xs-3">
            <a id="subset_2" class="btn btn-block btn-lg btn-warning">{{=data_vars['aux_2']['label']}}</a>
        </div>
        <div class="col-xs-3">
            <a id="subset_3" class="btn btn-block btn-lg btn-info">{{=data_vars['aux_3']['label']}}</a>
        </div>
        <div class="col-xs-3">
            <a id="subset_4" class="btn btn-block btn-lg btn-info">{{=data_vars['aux_4']['label']}}</a>
        </div>
    </div>
    <div id="data_grid" style="width: 100%; height: 400px;"></div>
    <div id="someDiv"></div>
    <br>

    <div class="row demo-row">
        <div class="col-xs-4">
        </div>
        <div class="col-xs-4">
        </div>
        <div class="col-xs-2">
            <a id="reporte" class="btn btn-block btn-lg btn-success" href="{{=URL()}}">Reporte</a>
        </div>
        <div class="col-xs-2">
            <a id="limpiar" class="btn btn-block btn-lg btn-success" href="{{=URL()}}">Limpiar</a>
        </div>
    </div> <!-- /row -->
</div>
{{include 'datagrid_model_beta.html'}}
