{{extend 'layout_grid.html'}}

<br><br><br>

<div class="container">
    <div class="row demo-row">
        <div class="col-xs-2">
            <a id="guardar" class="btn btn-block btn-lg btn-success">Guardar</a>
        </div>
        <div class="col-xs-6">
            <div class="form-group has-inactive">
                <input type="text" value="" placeholder="{{=data_vars['main']['label']}}" id="name_terms" class="form-control" />
                <input id="_name_terms_aux" name="term" type="hidden" value="" />
                <input id="_alt_terms_aux" name="term" type="hidden" value="" />
            </div>
        </div>
        <div class="col-xs-2">
            <a id="buscar" class="btn btn-block btn-lg btn-success">Buscar</a>
        </div>
        <div class="col-xs-2">
            <a id="ver_tabla" class="btn btn-block btn-lg btn-success">Ver Tabla</a>
        </div>
    </div> <!-- /row -->
    <div class="main_view">
        <div class="row">
        {{=select_block('Cliente', 'cliente', 'clientes', 1, 3, 'cliente')}}
        {{=option_block('EPP', 'banco', 1, 3)}}
        </div>
        <div class="row">
            {{=select_block('Servicio Producto Cotizacion', 'servicio_producto_cotizacion', 'servicios_productos', 1, 3,'servicio_producto')}}
        <!--{{=select_block('Marca GG', 'marca', 'marcas_definiciones', 1, 3,'marca')}}-->
        {{=option_block('Seguro SCRT', 'clave_sol', 1, 3)}}
        </div>
        <div class="row">
        {{=select_block('Contacto Proyecto', 'contacto_proyecto', 'contactos', 1, 3,'contacto_cliente')}}
        {{=option_block('Guia de remision', 'contrato', 1, 3)}}
        </div>
        <div class="row">
        {{=select_block('Numero de cotizacion', 'numero_cotizacion', 'cotizaciones', 1, 3,'numero_cotizacion')}}
        {{=option_block('Idumentaria', 'aplica_indumentaria', 1, 3)}}

        </div>
        <div class="row">
        {{=select_block('Servicio Producto', 'servicio_producto', 'servicios_productos', 1, 3,'servicio_producto')}}
        <!--{{=html_block('Documento Aprobacion', 'documento_aprobacion', 1, 3)}}
        -->
        </div>

        <div class="row">
        {{=select_block('Personal Proyecto', 'personal_proyecto', 'personal', 1, 3,'persona')}}
        <!--
        {{=html_block('Orden de Trabajo', 'orden_trabajo', 1, 3)}}
        -->
        </div>

        <div class="row">
        {{=html_block('Coordinaciones', 'coordinaciones', 1, 3)}}
        <!--
        {{=html_block('Informe Proyecto', 'informe_proyecto', 1, 3)}}
        -->
        </div>

        <div class="row">
        {{=html_block('Avances Proyectos', 'avance_estado_proyecto', 2, 5)}}
        {{=html_block('Nota', 'nota', 1, 3)}}
        </div>


    </div>
    <div id="current_grid" class="{{=data_vars['aux_1']['table']}}" value="{{=data_vars['main']['inner']}}"></div>
    <div class="row demo-row">
        <div class="col-xs-4">
            <a id="subset_1" class="btn btn-block btn-lg btn-primary">{{=data_vars['aux_1']['label']}}</a>
        </div>
        <div class="col-xs-4">
            <a id="subset_2" class="btn btn-block btn-lg btn-primary">{{=data_vars['aux_2']['label']}}</a>
        </div>
        <div class="col-xs-4">
            <a id="subset_3" class="btn btn-block btn-lg btn-primary">{{=data_vars['aux_3']['label']}}</a>
        </div>
    </div>
    <div id="data_grid" style="width: 100%; height: 400px;"></div>
    <div id="someDiv"></div>
    <br>

    <div class="row demo-row">
        <div class="col-xs-4">
        </div>
        <div class="col-xs-4">
        </div>
        <div class="col-xs-2">
            <a id="reporte" class="btn btn-block btn-lg btn-success" href="{{=URL()}}">Reporte</a>
        </div>
        <div class="col-xs-2">
            <a id="limpiar" class="btn btn-block btn-lg btn-success" href="{{=URL()}}">Limpiar</a>
        </div>
    </div> <!-- /row -->
</div>
{{include 'datagrid_model.html'}}