{{extend 'layout.html'}}

        <h1>Control - Día: {{=dia}}</h1>

        <a href="requerimientos?fecha={{=dia}}">Requerimientos</a><br>
        <a href="cotizaciones_enviadas?fecha={{=dia}}">Cotizaciones Enviadas</a><br>
        <a href="negociaciones_aprobadas?fecha={{=dia}}">Negociaciones Aprobadas</a><br>
        <a href="proyectos_entregados?fecha={{=dia}}">Proyectos Entregados</a><br>
        <a href="personal_operaciones?fecha={{=dia}}">Personal Operaciones</a><br>
        <a href="proveedor_operaciones?fecha={{=dia}}">Proveedor Operaciones</a><br>
        <a href="reporte_diario?fecha={{=dia}}">Reporte Diario</a><br>

