{{extend 'layout.html'}}

<!-- FullCalendar -->
<link href="{{=URL('static','css/fullcalendar.min.css')}}" rel="stylesheet">
<link href="{{=URL('static','css/fullcalendar.print.css')}}" rel="stylesheet" media="print">
<!-- FullCalendar -->
<script src="{{=URL('static','js/moment.min.js')}}"></script>
<script src="{{=URL('static','js/fullcalendar.min.js')}}"></script>
<script src="{{=URL('static','js/lang/es.js')}}"></script>
<script>

    $(document).ready(function () {

        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            selectable: true,
            selectHelper: true,
            select: function (start, end) {
                var m = $.fullCalendar.moment.parseZone(start);
                start_date = m.format();
                $(location).attr('href', 'auxiliar?table={{=table}}&fecha=' + start_date);
            },
            editable: true,
            eventLimit: true,
            events: {{=XML(events)}}
        });

    });

</script>
<style>

    body {
        margin: 40px 10px;
        padding: 0;
        font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
        font-size: 14px;
    }

    #calendar {
        max-width: 900px;
        margin: 0 auto;
    }

</style>

<h1>{{=page_name}}</h1>
<div class="container">
    <div class="row demo-row">

        <br/>
        <div id='calendar'></div>
    </div>
    <br/>
    <br/>
</div>

        {{=form}}
                <br/>
                <br/>